n8n/templates/echo.workflow.json
{
  "name": "AgenTrux Echo",
  "nodes": [
    {
      "parameters": {
        "topicId": "top_REPLACE_ME",
        "excludeSelf": false,
        "pollIntervalSeconds": 30
      },
      "id": "agentrux-trigger",
      "name": "AgenTrux Trigger",
      "type": "@agentrux/n8n-nodes-agentrux.agenTruxTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const it of $input.all()) {\n  const ev = it.json;\n  // Skip our own echo output by event_type to break the loop (shared topic in/out).\n  if (ev.event_type === 'n8n.echo') continue;\n  const p = ev.payload || {};\n  const msg = p.message ?? p.text ?? p.content ?? '';\n  // Backup guard: also skip anything already carrying our marker.\n  if (!msg || String(msg).includes('[n8n echo]')) continue;\n  out.push({ json: { reply: String(msg) + ' [n8n echo]', in_reply_to: ev.event_id || '' } });\n}\nreturn out;"
      },
      "id": "echo-append",
      "name": "Echo Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "publishEvent",
        "topicId": "top_REPLACE_ME",
        "eventType": "n8n.echo",
        "payload": "={{ JSON.stringify({ format: 'markdown', content: $json.reply, in_reply_to: $json.in_reply_to }) }}"
      },
      "id": "agentrux-publish",
      "name": "AgenTrux Publish",
      "type": "@agentrux/n8n-nodes-agentrux.agenTrux",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "AgenTrux Trigger": {
      "main": [
        [
          {
            "node": "Echo Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Echo Append": {
      "main": [
        [
          {
            "node": "AgenTrux Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
